<fieldset>
    <%= label :especificar_lotacao,"Disciplinas" %><br />
    <%= select :especificar_lotacao,:disciplina_id,@disciplinas,:style=>"width:92%;",:prompt=>"Selecione a Disciplina" %>
</fieldset>

<%=observe_field :especificar_lotacao_disciplina_id, :url => "/lotacoes/fator_lotacao",
      :frequency => 0.75,
      :update => :fator,
      :with => "'disciplina_id=' + value+'&turma_id='+#{@turma.id}+'&funcionario_id=#{@funcionario.id}'+'&lotaco_id=#{@lotacao.id}'"%>
<div id="disciplinas"></div>
