<b>Esfera</b>: <%= select :lotacao, :esfera_id, @esferas,:prompt=>true,:style=>"width:92%;" %>

<%=observe_field :lotacao_esfera_id, :url => "/lotacoes/destino/",
      :frequency => 0.25,
      :update => :dest,
      :with => 'esfera'%>
<div id="dest"></div>
<br/>
