<%if @tipo=="Sala de Aula"%>
<fieldset>
    <%= label :especificar_lotacao,"Turmas" %><br /><br />
    <%= select :especificar_lotacao,:turma_id,@turmas.collect{|t|["#{t.serie.nome} - #{t.turno}",t.id]},:style=>"width:92%;",:prompt=>"Selecione a Turma" %>
</fieldset>

<%=observe_field :especificar_lotacao_turma_id, :url => "/lotacoes/disciplinas_especificacao",
      :frequency => 0.75,
      :update => :disciplinas,
      :with => "'turma=' + value+'&funcionario_id='+#{@funcionario.id}+'&lotacao_id='+#{@lotacao.id}"%>
<div id="disciplinas"></div>
<%else%>

<%end%>