<script type="text/javascript">

    Event.observe(window, 'load', function() {

        new MaskedInput("#lotacao_data_lotacao", '99/99/9999');
        new MaskedInput("#pessoa_telefone_residencial", '(99) 9999-9999');
new MaskedInput('#pessoa_telefone_celular', '(99) 9999-9999');
new MaskedInput('#pessoa_cpf', '999.999.999-99');
new MaskedInput('#ssn', '999-99-9999');
new MaskedInput('#product', 'a*-999-a999');

new MaskedInput('#eyescript', '~9.99 ~9.99 999', {
completed: function(){
alert("You typed the following: " + this.getValue());
}
});

MaskedInput.definitions['~']='[+-]';

new MaskedInput('#eyescript2', '~9.99 ~9.99 999', {
completed: function(){
alert("You typed the following: " + this.getValue());
}
});
    });
    </script>

<article class="module width_full">
<header><h3>Confirmar Lotação</h3></header>
<div class="module_content">
<div id="tabs1" class="tabset">
<%= form_tag(pessoa_funcionario_lotacao_salvar_confirmacao_url(@pessoa,@funcionario,@lotacao)) do -%>
 <fieldset>
    <%= label_tag "Confirmar a Lotação?" %><br /><br />
    <%= text_field_tag :codigo,nil,:placeholder=>"Código de Barras",:autofocus=>true%>
  </fieldset>
 <%= submit_tag 'Save' %>
<% end -%>
</div>
</div>
</article>

