<article class="module width_full">
<header><h3>Especificação de Lotacao</h3></header>
<div class="module_content">
<div id="tabs1" class="tabset">
<%= form_for  @especificacao,:url=>pessoa_funcionario_lotacao_salvar_especificacao_url(@pessoa,@funcionario,@lotacao) do |f|-%>  <fieldset>
    <%= f.label "Tipo da Especificação" %><br /><br />
      <%= f.select :tipo,TipoAmbiente.all.collect{|t|t.nome},:style=>"width:92%;",:prompt=>"Selecione o tipo de especificação" %>
  </fieldset>
  
 <div id="tipo"></div>


<%=observe_field :especificar_lotacao_tipo, 
      :url => "/lotacoes/tipo_especificacao",
      :frequency => 0.75,
      :update => :tipo,
      :with => "'tipo='+value+'&funcionario_id='+#{@funcionario.id}+'&lotacao_id='+#{@lotacao.id}"%>
<div id="disciplinas"></div>
<div id="fator"></div>

<% end -%>
</div>
</div>
</article>
