<%= form_for @lotacao do |f| %>
<fieldset>
    <%= label :especificar_lotacao,"Ambientes Físicos" %><br /><br />
    <%= select :lotacao,:ambiente_id,@escola_lotacao.ambientes.salas_ambiente.all.collect{|a|[a.nome,a.id]},:style=>"width:92%;",:prompt=>"Selecione a Sala Ambiente" %>
</fieldset>
<div class='submit_link'>
<%=f.submit "Salvar",:class=>"alt_btn" %>
</div>
<%end%>