<%content_for :links do%>
		<%=link_to "Cago",cargos_path%><div class="breadcrumb_divider"></div><a class="current">Cadastrando Cargo</a>
<%end%>
<%= render 'form',:legenda=>' Cadastro de Cargos ' %>

