<%content_for :links do%>
		<%=link_to "Folhas",folha_folhas_path%><div class="breadcrumb_divider"></div><%=link_to "Financeiro",folha_folha_financeiros_path%><div class="breadcrumb_divider"></div><a class="current">Cadastrando Financeiro </a>

<%end%>
<%= render 'form',:legenda=>' Cadastro de Folha_financeiros ' %>
