<article class="module width_full">
<header><h3>Detalhes de </h3></header>
<div class="module_content">


<p>
  <b>Nome:</b>
  <%= @niveis_ensino.nome %>
</p>

<p>
  <b>Codigo:</b>
  <%= @niveis_ensino.codigo %>
</p>


</div>
<footer>
				<div class="submit_link">
				  <%= link_to 'Editar', edit_niveis_ensino_path(@niveis_ensino),:class=>"alt_btn",:type=>"submit"%> ou
				  <%= link_to 'Voltar', niveis_ensinos_path,:type=>"submit" %>
				</div>
			</footer>
</article>

