<%content_for :links do%>
		<%=link_to "Matrizes",matrizes_path%><div class="breadcrumb_divider"></div><a class="current">Cadastrando Matriz</a>

<%end%>
<%= render 'form',:legenda=>' Cadastro de Matrizes ' %>

