<fieldset style="width:48%; float:left; margin-right: 1%;">
    <label> Matriz da Turma</label><br /><br />
        <%= select :turma,:matriz_id,@matrizes,:style=>"width:92%;",:prompt=>true %>
</fieldset>
