<%content_for :links do%>
		<%=link_to "Orgãos",orgaos_path%><div class="breadcrumb_divider"></div><%=link_to "Departamentos",orgao_departamentos_path%><div class="breadcrumb_divider"></div><a class="current">Cadastrando Departamentos   </a>

<%end%>
<%= render 'form',:legenda=>' Cadastro de Departamentos ' %>

