	<%content_for :links do%>
    <%=link_to "Listas",tipo_lista_path%><div class="breadcrumb_divider"></div><a class="current">Editando Lista</a>

<%end%>
<%= render 'form',:legenda=>'Edição de Lista ' %>

