<%content_for :links do%>
    <%=link_to "Listas",tipo_listas_path%><div class="breadcrumb_divider"></div><a class="current">Cadastrando Lista</a>

<%end%>
<%= render 'form',:legenda=>' Cadastro de Tipo_lista ' %>

