<%n=0%>
<%= wicked_pdf_stylesheet_link_tag "layout" -%>

<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<%= table_for(@funcionarios,:html=>{:class=>"tablesorter"}) do |t| %>
	<%= t.data do %>
	<% t.cell(:nº) {n}%>
	<% t.cell(:nome,:cell_html=>{:width=>'27%'}) {|f|f.pessoa.nome}%>
	<% t.cell(:matricula,:cell_html =>{:align=>:center})%>
	<% t.cell(:nível,:cell_html =>{:align=>:center}) {|f|cod(f.nivel)}%>
	<% t.cell(:cpf,:cell_html =>{:align=>:center}) {|f|Cpf.new(f.pessoa.cpf)}%>
	<% t.cell(:quadro,:cell_html =>{:align=>:center}) {|f|f.entidade.sigla}%>
	<% t.cell(:contato,:cell_html =>{:align=>:center,:width=>'3%'}) {|f|telefones(f.pessoa)}%>
	<% t.cell(:ultima_localização,:cell_html =>{:align=>:center}) {|f|l(f)}%>
	<%end%>
	<%end%>
</body>
</html>