<!--<%= javascript_tag do %>
  new Ajax.PeriodicalUpdater("chat_data", 
    "#{administracao_tarefas_send_data_path}", 
    { frequency: 5, 
      method: 'get' })
<% end %>-->
<article class="module width_full">
<header><h3>Detalhes de </h3></header>
<div class="module_content">






</div>
<footer>
				<div class="submit_link">
				  <%= link_to 'Editar', edit_administracao_tarefa_path(@administracao_tarefa),:class=>"alt_btn",:type=>"submit"%> ou
				  <%= link_to 'Voltar', administracao_tarefas_path,:type=>"submit" %>
				</div>
			</footer>
</article>

