	#background-image
	{
		text-align: center;
		border-collapse: collapse;

	}
		html
	{
		font-family:Times New Roman,Georgia,Serif;

	}



	}

	p
	{font-size:16;
		
	}

	.bold {
     font-weight:bold;
}
