 <% if @mensagem.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@mensagem.errors.count, "erro impede","erros impedem") %> este mensagem de ser cadastrado:</h2>

      <ul>
        <% @mensagem.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
    <% end %>