<%content_for :links do%>
		<%=link_to "Pessoas",pessoas_path%><div class="breadcrumb_divider"></div><a class="current">Cadastrando Pessoa<a/>

<%end%>
<%= render 'form',:legenda=>' Cadastro de Pessoas ' %>

