<TABLE WIDTH=100% CELLPADDING=4 CELLSPACING=0 style="background-color: #FFFFFF; border: none;">
	<COL WIDTH=51*>
	<COL WIDTH=51*>
	<COL WIDTH=51*>
	<COL WIDTH=51*>
	<COL WIDTH=51*>
	<TR VALIGN=TOP>
		<TD WIDTH=20% HEIGHT=85 STYLE="border-top: 0px solid black; border-bottom: 0px solid #000000; border-left: 0px solid #000000; border-right: none; padding-top: 0.1cm; padding-bottom: 0.1cm; padding-left: 0.1cm; padding-right: 0cm; background-color: #FFFFFF">
			<P CLASS="western" ALIGN=CENTER><BR>
			</P>
		</TD>
		<TD COLSPAN=3 WIDTH=50% STYLE="border-top: 0px solid #000000; border-bottom: 0px solid #000000; border-left: 0px solid #000000; border-right: none; padding-top: 0.1cm; padding-bottom: 0.1cm; padding-left: 0.1cm; padding-right: 0cm; background-color: #FFFFFF">
			<P CLASS="western" ALIGN=CENTER><%=wicked_pdf_image_tag "../images/carta/logo.jpg",:size=>"74x77"%><BR>
			</P>
		</TD>
		<TD WIDTH=20% STYLE="border: 0px solid #000000; border-bottom: 0px solid #000000; padding: 0.1cm; background-color: #FFFFFF">
			<P CLASS="western"><%=wicked_pdf_image_tag "../images/carta/logo_amapa.jpg",:size=>"121x76"%><BR>
			</P>
		</TD>
	</TR>
	<TR>
		<TD COLSPAN=5 WIDTH=100% VALIGN=TOP STYLE="border-top: none; border-bottom: 0px solid #000000; border-left: 0px solid #000000; border-right: 0px solid #000000; padding-top: 0cm; padding-bottom: 0.1cm; padding-left: 0.1cm; padding-right: 0.1cm; background-color: #FFFFFF">
			<P CLASS="western" ALIGN=CENTER><FONT SIZE=1 STYLE="font-size: 8pt">GOVERNO
			DO ESTADO DO AMAPÁ<br>
			SECRETARIA
			DE ESTADO DA EDUCAÇÃO<br>
			COORDENADORIA
			DE ADMINISTRAÇÃO
		</TD>
	</TR>

	<TR>
		<TD COLSPAN=5 WIDTH=100% VALIGN=TOP STYLE="; border-top: none; border-bottom: 0px solid #000000; border-left: 0px solid #000000; border-right: 0px solid #000000; padding-top: 0cm; padding-bottom: 0.1cm; padding-left: 0.1cm; padding-right: 0.1cm; background-color: #FFFFFF">
			<P CLASS="western" ALIGN=CENTER><FONT SIZE=1 STYLE="font-size: 8pt">Pessoas inclusas na lista de <%=@tipo_lista.nome%></FONT></P>
		</TD>
	</TR>
	<br/>
	<br/>

	</table>
