<%content_for :links do%>
<%=link_to "Fonte de Recurso",folha_fonte_recursos_path%><div class="breadcrumb_divider"></div><a class="current">Cadastrando Fonte de Recurso</a>
<%end%>
<%= render 'form',:legenda=>' Cadastro de Folha, Fonte de Recursos ' %>

