<article class="module width_full">
	<header><h3>SIGED 2.5</h3></header>
	<div class="module_content">

		<%if current_user.role?("ucolom") %>
		<%= render :partial=>"ucolom"%>
		<% elsif current_user.role?("ucada")%>
		<%= render :partial=>"ucada"%> 
		<% else %>
		<%= render :partial=>"geral" %>
		<% end %>
	</div>
	<footer>
	</footer>
</article>
