<article class="module width_full">
<header><h3>SIGED 2.5</h3></header>
<div class="module_content">

<div id="AccordionContainer" class="AccordionContainer">
<%=render :partial=>'disciplinas'%>
<%=render :partial=>'categorias'%>

</div>
</div>
<footer>
    </footer>
</article>
