<fieldset style="width:48%; float:left; margin-right: 1%;">
<label><%=@titulo%></label><br />
<p>
<%= text_field_with_auto_complete :secretario, :nome,:indicator=>'indicator1',:with=>"DIRECAO",:on_hide=>"teste",:style=>"width:92%;"  %>

</p>
</fieldset>
<span id="indicator1" style="display: none">
  <img src="/images/02-redo.png" alt="Trabalhando..." />
</span>
