<%content_for :links do%>
<%=link_to "categoria",categorias_path%><div class="breadcrumb_divider"></div><a class="current">Editando Categoria</a>
<%end%>
<%= render 'form',:legenda=>'Edição de Categorias ' %>

