<%content_for :links do%>
		<%=link_to "Referência/Níveis",referencia_niveis_path%><div class="breadcrumb_divider"></div><a class="current">Editando Nível</a>

<%end%>
<%= render 'form',:legenda=>'Edição de Referência/Nível ' %>

