<%content_for :links do%>
		<%=link_to "Referência/Níveis",referencia_niveis_path%><div class="breadcrumb_divider"></div><a class="current">Cadastrando Nível</a>

<%end%>
<%= render 'form',:legenda=>' Cadastro de Referencia_niveis ' %>

