<table class="tablesorter" cellspacing="0">
  <thead>
    <tr>
      <th>Nome</th>
      <!--<th>Turnos</th>-->
      <th colspan=2>Ações</th>
    </tr>
  </thead>
  <tbody>
    <%@ambientes.each do |a|%>
      <tr>
        <td><%=a.nome%></td>
        <%if can? :especificar_lotacao,Lotacao%>
          <td><%=link_to "Controle de Ambiente", escola_controle_ambiente_path(@escola,:ambiente=>a.id),:remote=>true%></td>
          <td><%#=link_to "Remover Ambiente", escola_ambiente_excluir_turma_path(@escola,@ambiente,:turma_id=>t.id),:confirm=>"Tem certeza que deseja remover a turma",:remote=>true%></td>
        </tr>
      <%end%>
    <%end%>
  </tbody>
</table>