<table class=tablesorter>
<thead>
<tr>
  <th>Disciplina</th>
  <th>Disponível</th>
  <th>Demanda</th>
  <th>Preenchido</th>
  <th>Excedente</th>
</tr>
</thead>
<tbody>
  <%@disciplinas.each do |d|%>
<tr>
  <td><%= d.nome%></td>
  <td><%= @escola.calcular_oferta(d)%></td>
  <td><%= @escola.calcular_demanda(d)%></td>
  <td><%= @escola.calcular_preenchido(d)%></td>
  <td>0</td>
</tr>
<% end %>
</tbody>
</table>