<%content_for :links do%>
		<%=link_to "Escolas",escolas_path%><div class="breadcrumb_divider"></div><a class="current">Cadastrando Escola</a>

<%end%>
<%= render 'form',:legenda=>' Cadastro de Escolas ' %>
