<%content_for :links do%>
		<%=link_to "Orgão",orgaos_path%><div class="breadcrumb_divider"></div><%=link_to "Cadastro de orgão",new_orgao_path, :class=>"current"%>

<%end%>
<%= render 'form',:legenda=>' Cadastro de Orgaos ' %>

