<%content_for :links do%>
		<%=link_to "Folhas",folha_folhas_path%><div class="breadcrumb_divider"></div><a class="current">Cadastrando Folha</a>
<%end%>
<%= render 'form',:legenda=>' Cadastrando Folha ' %>
