<%content_for :links do%>
    <%=link_to "Papéis",roles_path%><div class="breadcrumb_divider"></div><a class="current">Cadastrando Papel</a>

<%end%>
<%= render 'form',:legenda=>' Cadastro de Papéis ' %>

