<div id='partial' style="position: relative; height: 85vh;">
  <script type="text/javascript">
   jQuery(function() {
    jQuery('.pagination a').attr('data-remote', 'true');
  });
 </script>
 <table class="tablesorter" cellspacing="0">
  <thead>
    <tr>
      <th>Matrícula</th>
      <th>Funcionário</th>
      <th>Cargo</th>
      <th>Ações</th>
      <th colspan=2></th>
    </tr>
  </thead>
  <tbody>
    <% @encaminhados.each do |f| %>
    <tr>
     <td><%= f.matricula %></td>
     <td><%= detalhes(f.pessoa) %></td>
     <td><%= cargo_resumido(f) %></td>
     <%if can? :especificar_lotacao,Lotacao%>
     <td><%#= link_to  image_tag('/images/icn_devolver.png',:title=>"Devolver funcionario"), pessoa_funcionario_lotacao_devolver_funcionario_path(f.pessoa,f,@departamento.lotacoes.ativo.find_by_funcionario_id(f.id)),:rel=>"facebox",:rev=>"height:300px;width:500px"  %></td>
     <% end %>
   </tr>
   <% end %>
 </tbody>
</table>
</div>
<div style='z-index: 10;'>
  <%= will_paginate @encaminhados, :remote => true,:params=>{:aba=>'encaminhados'}%>
</div>