<h3>Gerar pontos do(a) <%= @objeto.nome%></h3>
<%= form_tag :controller=>'pontos',:action=>'salvar_pontos',:method=>:post,:remote=>true,:tipo=>@tipo,:objeto_id=>@objeto.id%>
<%= date_select :ponto,:data,:discard_day=>true%><br/><br/>
<div class='submit_link'>
<%= submit_tag 'Gerar Pontos'%>
</div>