<%content_for :links do%>
		<%=link_to "Situações jurídicas",situacoes_juridicas_path%><div class="breadcrumb_divider"></div><a class="current">Criando Situação Jurídica</a>

<%end%>
<%= render 'form',:legenda=>' Cadastro de Situacão jurídica ' %>
