<%content_for :links do%>
		<%=link_to "Usuário",usuarios_path%><div class="breadcrumb_divider"></div><a class="current">Cadastrando novo usuario</a>

<%end%>
<article class="module width_3_quarter">
<header><h3>Cadastrar Usuário</h3></header>
<div class="module_content">
<%= render 'form' %>
<div class="clear"></div>
</div>
</article>
