<%content_for :links do%>
    <%=link_to "Descrição de Cargo",disciplina_contratacoes_path%><div class="breadcrumb_divider"></div><a class="current">Editando Descricao de cargos</a>

<%end%>
<%= render 'form',:legenda=>'Edição de Descricao de cargos ' %>

