<%content_for :links do%>
		<%=link_to "Série",series_path%><div class="breadcrumb_divider"></div><a class="current">Cadastrando Série </a>

<%end%>
<%= render 'form',:legenda=>' Cadastro de Series ' %>
