<article class="module width_full">
<header><h3></h3></header>
<div class="module_content">

<TABLE align="center" WIDTH=100% CELLPADDING=10 CELLSPACING=0>
	<COL WIDTH=22>
	<COL WIDTH=51>
	<COL WIDTH=116>
	<COL WIDTH=23>
	<COL WIDTH=47>
	<COL WIDTH=40>
	<COL WIDTH=51>
	<COL WIDTH=4>
	<COL WIDTH=106>
	<COL WIDTH=33>
	<COL WIDTH=50>
	<TR VALIGN=TOP>
		<TD COLSPAN=3 WIDTH=33% STYLE="border-top: 0px solid #000000; border-bottom: 0px solid #000000; border-left: 0px solid #000000; border-right: none; padding-top: 0.1cm; padding-bottom: 0.1cm; padding-left: 0.1cm; padding-right: 0cm">
			<P ALIGN=CENTER><BR>
			</P>
		</TD>
		<TD COLSPAN=5 WIDTH=106 height=106 STYLE="border-top: 0px solid #000000; border-bottom: 0px solid #000000; border-left: 0px solid #000000; border-right: none; padding-top: 0.1cm; padding-bottom: 0.1cm; padding-left: 0.1cm; padding-right: 0cm">
			<P ALIGN=CENTER><img WIDTH=86 BORDER=0 src="imagem2.png"><BR>
			</P>
		</TD>
		<TD COLSPAN=3 WIDTH=33% STYLE="border: 0px solid #000000; padding: 0.1cm">
			<P ALIGN=CENTER><img src="logo_amapa.png"><BR>
			</P>
		</TD>
	</TR>
	<TR>
		<TD COLSPAN=11 WIDTH=632 VALIGN=TOP STYLE="border-top: none; border-bottom: 1px solid #000000; border-left: 0px solid #000000; border-right: 0px solid #000000; padding-top: 0cm; padding-bottom: 0.1cm; padding-left: 0.1cm; padding-right: 0.1cm">
			<p ALIGN=CENTER><FONT SIZE=1 STYLE="font-size: 8pt">GOVERNO DO
			ESTADO DO AMAPÁ<br/>
			SECRETARIA DE
			ESTADO DA EDUCAÇÃO<br/>
			ESCOLA
			ESTADUAL MORTE LENTA<br/></FONT></p>
		</TD>
	</TR>
	<TR VALIGN=TOP>
		<TD COLSPAN=2 WIDTH=5% STYLE="; border-top: none; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: none; padding-top: 0cm; padding-bottom: 0.1cm; padding-left: 0.1cm; padding-right: 0cm">
			<P ALIGN=CENTER><FONT SIZE=1 STYLE="font-size: 8pt">ÓRGÃO</FONT></P>
		</TD>
		<TD COLSPAN=4 WIDTH=259 STYLE="; border-top: none; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: none; padding-top: 0cm; padding-bottom: 0.1cm; padding-left: 0.1cm; padding-right: 0cm">
			<P ALIGN=CENTER><FONT SIZE=1 STYLE="font-size: 8pt">CADASTRO/SIAPE</FONT></P>
		</TD>
		<TD COLSPAN=3 WIDTH=177 STYLE="; border-top: none; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: none; padding-top: 0cm; padding-bottom: 0.1cm; padding-left: 0.1cm; padding-right: 0cm">
			<P ALIGN=CENTER><FONT SIZE=1 STYLE="font-size: 8pt">COD.LOTAÇÃO</FONT></P>
		</TD>
		<TD COLSPAN=2 WIDTH=5% STYLE="; border-top: none; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000; padding-top: 0cm; padding-bottom: 0.1cm; padding-left: 0.1cm; padding-right: 0.1cm">
			<P ALIGN=CENTER><FONT SIZE=1 STYLE="font-size: 8pt">PERÍODO</FONT></P>
		</TD>
	</TR>
	<TR VALIGN=TOP>
		<TD COLSPAN=2 WIDTH=5% STYLE="; border-top: none; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: none; padding-top: 0cm; padding-bottom: 0.1cm; padding-left: 0.1cm; padding-right: 0cm">
			<P ALIGN=CENTER><FONT SIZE=1 STYLE="font-size: 8pt">SEED</FONT></P>
		</TD>
		<TD COLSPAN=4 WIDTH=259 STYLE="; border-top: none; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: none; padding-top: 0cm; padding-bottom: 0.1cm; padding-left: 0.1cm; padding-right: 0cm">
			<P ALIGN=CENTER><FONT SIZE=1 STYLE="font-size: 8pt">XXXXXXX</FONT></P>
		</TD>
		<TD COLSPAN=3 WIDTH=177 STYLE="; border-top: none; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: none; padding-top: 0cm; padding-bottom: 0.1cm; padding-left: 0.1cm; padding-right: 0cm">
			<P ALIGN=CENTER><FONT SIZE=1 STYLE="font-size: 8pt">XXXXXXXX</FONT></P>
		</TD>
		<TD COLSPAN=2 WIDTH=91 STYLE="; border-top: none; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000; padding-top: 0cm; padding-bottom: 0.1cm; padding-left: 0.1cm; padding-right: 0.1cm">
			<P ALIGN=CENTER><FONT SIZE=1 STYLE="font-size: 8pt"><%=@data.strftime("%B/%Y")%></FONT></P>
		</TD>
	</TR>
	<TR VALIGN=TOP>
		<TD COLSPAN=6 WIDTH=348 STYLE="; border-top: none; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: none; padding-top: 0cm; padding-bottom: 0.1cm; padding-left: 0.1cm; padding-right: 0cm">
			<P ALIGN=CENTER><FONT SIZE=1 STYLE="font-size: 8pt">NOME</FONT></P>
		</TD>
		<TD COLSPAN=5 WIDTH=276 STYLE="; border-top: none; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000; padding-top: 0cm; padding-bottom: 0.1cm; padding-left: 0.1cm; padding-right: 0.1cm">
			<P ALIGN=CENTER><FONT SIZE=1 STYLE="font-size: 8pt">CARGO/FUNÇÃO</FONT></P>
		</TD>
	</TR>
	<TR VALIGN=TOP>
		<TD COLSPAN=6 WIDTH=348 STYLE="; border-top: none; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: none; padding-top: 0cm; padding-bottom: 0.1cm; padding-left: 0.1cm; padding-right: 0cm">
			<P ALIGN=CENTER><FONT SIZE=1 STYLE="font-size: 8pt">XXXXXXXXXXXXXXXXXXXXX</FONT></P>
		</TD>
		<TD COLSPAN=5 WIDTH=276 STYLE="; border-top: none; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000; padding-top: 0cm; padding-bottom: 0.1cm; padding-left: 0.1cm; padding-right: 0.1cm">
			<P ALIGN=CENTER><FONT SIZE=1 STYLE="font-size: 8pt">XXXXXXXXXXXXXXXXXXXX</FONT></P>
		</TD>
	</TR>
	<TR VALIGN=TOP>
		<TD COLSPAN=6 WIDTH=348 STYLE="; border-top: none; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: none; padding-top: 0cm; padding-bottom: 0.1cm; padding-left: 0.1cm; padding-right: 0cm">
			<P ALIGN=CENTER><FONT SIZE=1 STYLE="font-size: 8pt">MANHÃ</FONT></P>
		</TD>
		<TD COLSPAN=5 WIDTH=276 STYLE="; border-top: none; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000; padding-top: 0cm; padding-bottom: 0.1cm; padding-left: 0.1cm; padding-right: 0.1cm">
			<P ALIGN=CENTER><FONT SIZE=1 STYLE="font-size: 8pt">TARDE</FONT></P>
		</TD>
	</TR>
	<TR VALIGN=TOP>
		<TD WIDTH=1% STYLE="; border-top: none; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: none; padding-top: 0cm; padding-bottom: 0.1cm; padding-left: 0.1cm; padding-right: 0cm">
			<P ALIGN=CENTER><FONT SIZE=1 STYLE="font-size: 8pt">DIA</FONT></P>
		</TD>
		<TD WIDTH=1% STYLE="; border-top: none; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: none; padding-top: 0cm; padding-bottom: 0.1cm; padding-left: 0.1cm; padding-right: 0cm">
			<P ALIGN=CENTER><FONT SIZE=1 STYLE="font-size: 8pt">ENTRADA</FONT></P>
		</TD>
		<TD COLSPAN=2 WIDTH=200 STYLE="; border-top: none; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: none; padding-top: 0cm; padding-bottom: 0.1cm; padding-left: 0.1cm; padding-right: 0cm">
			<P ALIGN=CENTER><FONT SIZE=1 STYLE="font-size: 8pt">ASSINATURA</FONT></P>
		</TD>
		<TD WIDTH=1% STYLE="; border-top: none; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: none; padding-top: 0cm; padding-bottom: 0.1cm; padding-left: 0.1cm; padding-right: 0cm">
			<P ALIGN=CENTER><FONT SIZE=1 STYLE="font-size: 8pt">SAÍDA</FONT></P>
		</TD>
		<TD WIDTH=1% STYLE="; border-top: none; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: none; padding-top: 0cm; padding-bottom: 0.1cm; padding-left: 0.1cm; padding-right: 0cm">
			<P ALIGN=CENTER><FONT SIZE=1 STYLE="font-size: 8pt">RUBRICA</FONT></P>
		</TD>
		<TD WIDTH=1% STYLE="; border-top: none; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: none; padding-top: 0cm; padding-bottom: 0.1cm; padding-left: 0.1cm; padding-right: 0cm">
			<P ALIGN=CENTER><FONT SIZE=1 STYLE="font-size: 8pt">ENTRADA</FONT></P>
		</TD>
		<TD COLSPAN=2 WIDTH=200 STYLE="; border-top: none; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: none; padding-top: 0cm; padding-bottom: 0.1cm; padding-left: 0.1cm; padding-right: 0cm">
			<P ALIGN=CENTER><FONT SIZE=1 STYLE="font-size: 8pt">ASSINATURA</FONT></P>
		</TD>
		<TD WIDTH=1% STYLE="; border-top: none; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: none; padding-top: 0cm; padding-bottom: 0.1cm; padding-left: 0.1cm; padding-right: 0cm">
			<P ALIGN=CENTER><FONT SIZE=1 STYLE="font-size: 8pt">SAÍDA</FONT></P>
		</TD>
		<TD WIDTH=1% STYLE="; border-top: none; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000; padding-top: 0cm; padding-bottom: 0.1cm; padding-left: 0.1cm; padding-right: 0.1cm">
			<P ALIGN=CENTER><FONT SIZE=1 STYLE="font-size: 8pt">RUBRICA</FONT></P>
		</TD>
  </TR>
  <%@dias.each do |d|%>
	<TR VALIGN=TOP>
		<TD WIDTH=22 STYLE="; border-top: none; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: none; padding-top: 0cm; padding-bottom: 0.1cm; padding-left: 0.1cm; padding-right: 0cm">
			<P ALIGN=CENTER STYLE="font-size: 8pt"><%=d.mday%></P>
		</TD>
		<TD WIDTH=40 STYLE="border-top: none; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: none; padding-top: 0cm; padding-bottom: 0.1cm; padding-left: 0.1cm; padding-right: 0cm">
			<P ALIGN=CENTER STYLE="font-size: 8pt">07:30</P>
		</TD>
		<TD COLSPAN=2 WIDTH=147 STYLE="border-top: none; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: none; padding-top: 0cm; padding-bottom: 0.1cm; padding-left: 0.1cm; padding-right: 0cm">
			<P ALIGN=CENTER><BR>
			</P>
		</TD>
		<TD WIDTH=47 STYLE="border-top: none; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: none; padding-top: 0cm; padding-bottom: 0.1cm; padding-left: 0.1cm; padding-right: 0cm">
			<P ALIGN=CENTER   STYLE="font-size: 8pt">12:00</P>
		</TD>
		<TD WIDTH=48 STYLE="border-top: none; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: none; padding-top: 0cm; padding-bottom: 0.1cm; padding-left: 0.1cm; padding-right: 0cm">
			<P ALIGN=CENTER><BR>
			</P>
		</TD>
		<TD WIDTH=51 STYLE="border-top: none; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: none; padding-top: 0cm; padding-bottom: 0.1cm; padding-left: 0.1cm; padding-right: 0cm">
			<P ALIGN=CENTER STYLE="font-size: 8pt">14:30</P>
		</TD>
		<TD COLSPAN=2 WIDTH=118 STYLE="border-top: none; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: none; padding-top: 0cm; padding-bottom: 0.1cm; padding-left: 0.1cm; padding-right: 0cm">
			<P ALIGN=CENTER><BR>
			</P>
		</TD>
		<TD WIDTH=33 STYLE="border-top: none; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: none; padding-top: 0cm; padding-bottom: 0.1cm; padding-left: 0.1cm; padding-right: 0cm">
			<P ALIGN=CENTER STYLE="font-size: 8pt">18:00</P>
		</TD>
		<TD WIDTH=31 STYLE="; border-top: none; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000; padding-top: 0cm; padding-bottom: 0.1cm; padding-left: 0.1cm; padding-right: 0.1cm">
			<P CLASS="western" ALIGN=CENTER><BR>
			</P>
		</TD>
	</TR>
	<%end%>
</TABLE>
<TABLE align="center" WIDTH=100% CELLPADDING=10 CELLSPACING=0>
	<COL WIDTH=8>
	<COL WIDTH=190>
	<COL WIDTH=83>
	<COL WIDTH=84>
	<COL WIDTH=130>
	<COL WIDTH=98>
	<TR>
		<TD ROWSPAN=6 WIDTH=8 STYLE="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: none; padding-top: 0.1cm; padding-bottom: 0.1cm; padding-left: 0.1cm; padding-right: 0cm">
			<P ALIGN=CENTER><FONT SIZE=1 STYLE="font-size: 8pt">APURAÇÃO</FONT></P>
		</TD>
		<TD WIDTH=190 VALIGN=TOP STYLE="; border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: none; padding-top: 0.1cm; padding-bottom: 0.1cm; padding-left: 0.1cm; padding-right: 0cm">
			<P ALIGN=CENTER><FONT SIZE=1 STYLE="font-size: 8pt">TÍTULO</FONT></P>
		</TD>
		<TD COLSPAN=2 WIDTH=175 VALIGN=TOP STYLE="; border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: none; padding-top: 0.1cm; padding-bottom: 0.1cm; padding-left: 0.1cm; padding-right: 0cm">
			<P ALIGN=CENTER><FONT SIZE=1 STYLE="font-size: 8pt">Nº DIAS</FONT></P>
		</TD>
		<TD WIDTH=130 VALIGN=TOP STYLE="; border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: none; padding-top: 0.1cm; padding-bottom: 0.1cm; padding-left: 0.1cm; padding-right: 0cm">
			<P ALIGN=CENTER><FONT SIZE=1 STYLE="font-size: 8pt">ENTRADAS TARDE</FONT></P>
		</TD>
		<TD WIDTH=98 VALIGN=TOP STYLE="; border: 1px solid #000000; padding: 0.1cm">
			<P ALIGN=CENTER><FONT SIZE=1 STYLE="font-size: 8pt">APUREI,
			___/___/___</FONT></P>
		</TD>
	</TR>
	<TR>
		<TD WIDTH=190 VALIGN=TOP STYLE="; border-top: none; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: none; padding-top: 0cm; padding-bottom: 0.1cm; padding-left: 0.1cm; padding-right: 0cm">
			<P ALIGN=CENTER><FONT SIZE=1 STYLE="font-size: 8pt">FÉRIAS</FONT></P>
		</TD>
		<TD WIDTH=83 VALIGN=TOP STYLE="; border-top: none; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: none; padding-top: 0cm; padding-bottom: 0.1cm; padding-left: 0.1cm; padding-right: 0cm">
			<P ALIGN=CENTER><BR>
			</P>
		</TD>
		<TD WIDTH=84 VALIGN=TOP STYLE="border-top: none; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: none; padding-top: 0cm; padding-bottom: 0.1cm; padding-left: 0.1cm; padding-right: 0cm">
			<P ALIGN=CENTER><BR>
			</P>
		</TD>
		<TD WIDTH=130 VALIGN=TOP STYLE="border-top: none; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: none; padding-top: 0cm; padding-bottom: 0.1cm; padding-left: 0.1cm; padding-right: 0cm">
			<P ALIGN=CENTER><FONT SIZE=1 STYLE="font-size: 8pt">DIAS:</FONT></P>
		</TD>
		<TD ROWSPAN=5 WIDTH=98 STYLE="; border-top: none; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000; padding-top: 0cm; padding-bottom: 0.1cm; padding-left: 0.1cm; padding-right: 0.1cm">
			<P ALIGN=CENTER>__________________</P>
			<P ALIGN=CENTER><FONT SIZE=1 STYLE="font-size: 8pt">ASSINATURA</FONT></P>
			<P ALIGN=CENTER><BR>
			</P>
			<P ALIGN=CENTER><FONT SIZE=1 STYLE="font-size: 8pt">TRANSCREVI EM</FONT></P>
			<P ALIGN=CENTER><BR>
			</P>
			<P ALIGN=CENTER>___/___/___</P>
		</TD>
	</TR>
	<TR>
		<TD WIDTH=190 VALIGN=TOP STYLE="border-top: none; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: none; padding-top: 0cm; padding-bottom: 0.1cm; padding-left: 0.1cm; padding-right: 0cm">
			<P ALIGN=CENTER><FONT SIZE=1 STYLE="font-size: 8pt">LICENÇA
			MÉDICA</FONT></P>
		</TD>
		<TD WIDTH=83 VALIGN=TOP STYLE="; border-top: none; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: none; padding-top: 0cm; padding-bottom: 0.1cm; padding-left: 0.1cm; padding-right: 0cm">
			<P ALIGN=CENTER><BR>
			</P>
		</TD>
		<TD WIDTH=84 VALIGN=TOP STYLE="border-top: none; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: none; padding-top: 0cm; padding-bottom: 0.1cm; padding-left: 0.1cm; padding-right: 0cm">
			<P ALIGN=CENTER><BR>
			</P>
		</TD>
		<TD WIDTH=130 VALIGN=TOP STYLE="border-top: none; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: none; padding-top: 0cm; padding-bottom: 0.1cm; padding-left: 0.1cm; padding-right: 0cm">
			<P ALIGN=CENTER><FONT SIZE=1 STYLE="font-size: 8pt">SAÍDAS
			ANTECIPADAS</FONT></P>
		</TD>
	</TR>
	<TR>
		<TD WIDTH=190 VALIGN=TOP STYLE="; border-top: none; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: none; padding-top: 0cm; padding-bottom: 0.1cm; padding-left: 0.1cm; padding-right: 0cm">
			<P ALIGN=CENTER><FONT SIZE=1 STYLE="font-size: 8pt">FALTAS</FONT></P>
		</TD>
		<TD WIDTH=83 VALIGN=TOP STYLE="; border-top: none; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: none; padding-top: 0cm; padding-bottom: 0.1cm; padding-left: 0.1cm; padding-right: 0cm">
			<P ALIGN=CENTER><BR>
			</P>
		</TD>
		<TD WIDTH=84 VALIGN=TOP STYLE="border-top: none; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: none; padding-top: 0cm; padding-bottom: 0.1cm; padding-left: 0.1cm; padding-right: 0cm">
			<P ALIGN=CENTER><BR>
			</P>
		</TD>
		<TD WIDTH=130 VALIGN=TOP STYLE="border-top: none; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: none; padding-top: 0cm; padding-bottom: 0.1cm; padding-left: 0.1cm; padding-right: 0cm">
			<P ALIGN=CENTER><FONT SIZE=1 STYLE="font-size: 8pt">DIAS:</FONT></P>
		</TD>
	</TR>
	<TR>
		<TD WIDTH=190 VALIGN=TOP STYLE="; border-top: none; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: none; padding-top: 0cm; padding-bottom: 0.1cm; padding-left: 0.1cm; padding-right: 0cm">
			<P ALIGN=CENTER><FONT SIZE=1 STYLE="font-size: 8pt">OUTROS AFAST.</FONT></P>
		</TD>
		<TD WIDTH=83 VALIGN=TOP STYLE="; border-top: none; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: none; padding-top: 0cm; padding-bottom: 0.1cm; padding-left: 0.1cm; padding-right: 0cm">
			<P ALIGN=CENTER><BR>
			</P>
		</TD>
		<TD WIDTH=84 VALIGN=TOP STYLE="border-top: none; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: none; padding-top: 0cm; padding-bottom: 0.1cm; padding-left: 0.1cm; padding-right: 0cm">
			<P ALIGN=CENTER><BR>
			</P>
		</TD>
		<TD WIDTH=130 VALIGN=TOP STYLE="border-top: none; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: none; padding-top: 0cm; padding-bottom: 0.1cm; padding-left: 0.1cm; padding-right: 0cm">
			<P ALIGN=CENTER><FONT SIZE=1 STYLE="font-size: 8pt">FALTAS ½
			EXPEDIENTES</FONT></P>
		</TD>
	</TR>
	<TR>
		<TD WIDTH=190 VALIGN=TOP STYLE="; border-top: none; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: none; padding-top: 0cm; padding-bottom: 0.1cm; padding-left: 0.1cm; padding-right: 0cm">
			<P ALIGN=CENTER><FONT SIZE=1 STYLE="font-size: 8pt">EFEITO
			EXERCÍCIO</FONT></P>
		</TD>
		<TD WIDTH=83 VALIGN=TOP STYLE="; border-top: none; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: none; padding-top: 0cm; padding-bottom: 0.1cm; padding-left: 0.1cm; padding-right: 0cm">
			<P ALIGN=CENTER><BR>
			</P>
		</TD>
		<TD WIDTH=84 VALIGN=TOP STYLE="border-top: none; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: none; padding-top: 0cm; padding-bottom: 0.1cm; padding-left: 0.1cm; padding-right: 0cm">
			<P ALIGN=CENTER><BR>
			</P>
		</TD>
		<TD WIDTH=130 VALIGN=TOP STYLE="border-top: none; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: none; padding-top: 0cm; padding-bottom: 0.1cm; padding-left: 0.1cm; padding-right: 0cm">
			<P ALIGN=CENTER><FONT SIZE=1 STYLE="font-size: 8pt">DIAS:</FONT></P>
		</TD>
	</TR>
</TABLE>
<TABLE align="center" WIDTH=100% CELLPADDING=10 CELLSPACING=0>
	<COL WIDTH=632>
	<TR>
		<TD WIDTH=632 VALIGN=TOP STYLE="border: 1px solid #000000; padding: 0.1cm">
			<P ALIGN=CENTER><FONT SIZE=1 STYLE="font-size: 8pt">POSIÇÃO
			TEMPORARIA DO CÓDIGO DE BARRA</FONT></P>
		</TD>
	</TR>
</TABLE>
</div>
</article>
