<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
<title>SISTEMA DE GERENCIAMENTO EDUCACIONAL - SIGED</title>
</head>
<body>
<P align=center><IMG SRC="/images/404.png"%></p>
<p><div style="text-align: center"><strong><font size="+1" color="#5F8AB9" face="arial">Motivo: <%=reason%></font></strong></div></p>
<p><div style="text-align: center"><strong><font size="+1" color="#5F8AB9" face="arial">Previsão de Retorno: <%=deadline%></font></strong></div></p>
</body>
</html>
